@import './fonts.scss', './reset.scss',
'./navbar.scss';

.container {
    max-width: 1350px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    background: #141414;
}

button {
    transition: .5s;

    &:active {
        transform: scale(.9);
    }
}

:root {
    --swiper-theme-color: rgb(255, 255, 255) !important;
}

.top__movies {
    background: #fff;
    padding-top: 30px;
    padding-bottom: 80px;

    &-title {
        
    }
}