* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // transition: .5s;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

 
button,
input {
    border: none;
    outline: none;
    background: transparent;
}

// ::-webkit-scrollbar{
//     width: 10px;
//     background: transparent;
// }

// ::-webkit-scrollbar-thumb{
//     background: rgba(20, 154, 3, 1);
//     border-radius: 10px;
//     cursor: pointer;
// }

